In [21]:
!pip install kagglehub

Collecting kagglehub
  Using cached kagglehub-0.3.12-py3-none-any.whl.metadata (38 kB)
Requirement already satisfied: packaging in c:\users\hp\desktop\customer churn\venv\lib\site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in c:\users\hp\desktop\customer churn\venv\lib\site-packages (from kagglehub) (6.0.2)
Collecting requests (from kagglehub)
  Using cached requests-2.32.4-py3-none-any.whl.metadata (4.9 kB)
Collecting tqdm (from kagglehub)
  Using cached tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Collecting charset_normalizer<4,>=2 (from requests->kagglehub)
  Using cached charset_normalizer-3.4.2-cp311-cp311-win_amd64.whl.metadata (36 kB)
Collecting idna<4,>=2.5 (from requests->kagglehub)
  Using cached idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests->kagglehub)
  Using cached urllib3-2.5.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests->kagglehub)
  Using cached certifi-2025.7.14-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: colorama in c:\users\hp\desktop\customer churn\venv\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Using cached kagglehub-0.3.12-py3-none-any.whl (67 kB)
Using cached requests-2.32.4-py3-none-any.whl (64 kB)
Using cached charset_normalizer-3.4.2-cp311-cp311-win_amd64.whl (105 kB)
Using cached idna-3.10-py3-none-any.whl (70 kB)
Using cached urllib3-2.5.0-py3-none-any.whl (129 kB)
Using cached certifi-2025.7.14-py3-none-any.whl (162 kB)
Using cached tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: urllib3, tqdm, idna, charset_normalizer, certifi, requests, kagglehub

   ---------------------------------------- 0/7 [urllib3]
   ---------------------------------------- 0/7 [urllib3]
   ---------------------------------------- 0/7 [urllib3]
   ---------------------------------------- 0/7 [urllib3]
   ---------------------------------------- 0/7 [urllib3]
   ---------------------------------------- 0/7 [urllib3]
   ---------------------------------------- 0/7 [urllib3]
   ----- ---------------------------------- 1/7 [tqdm]
   ----- ---------------------------------- 1/7 [tqdm]
   ----- ---------------------------------- 1/7 [tqdm]
   ----- ---------------------------------- 1/7 [tqdm]
   ----- ---------------------------------- 1/7 [tqdm]
   ----- ---------------------------------- 1/7 [tqdm]
   ----- ---------------------------------- 1/7 [tqdm]
   ----- ---------------------------------- 1/7 [tqdm]
   ----- ---------------------------------- 1/7 [tqdm]
   ----------- ---------------------------- 2/7 [idna]
   ----------- ---------------------------- 2/7 [idna]
   ----------- ---------------------------- 2/7 [idna]
   ----------------- ---------------------- 3/7 [charset_normalizer]
   ----------------- ---------------------- 3/7 [charset_normalizer]
   ----------------- ---------------------- 3/7 [charset_normalizer]
   ----------------- ---------------------- 3/7 [charset_normalizer]
   ----------------- ---------------------- 3/7 [charset_normalizer]
   ---------------------- ----------------- 4/7 [certifi]
   ---------------------------- ----------- 5/7 [requests]
   ---------------------------- ----------- 5/7 [requests]
   ---------------------------- ----------- 5/7 [requests]
   ---------------------------- ----------- 5/7 [requests]
   ---------------------------------- ----- 6/7 [kagglehub]
   ---------------------------------- ----- 6/7 [kagglehub]
   ---------------------------------- ----- 6/7 [kagglehub]
   ---------------------------------- ----- 6/7 [kagglehub]
   ---------------------------------- ----- 6/7 [kagglehub]
   ---------------------------------- ----- 6/7 [kagglehub]
   ---------------------------------- ----- 6/7 [kagglehub]
   ---------------------------------------- 7/7 [kagglehub]

Successfully installed certifi-2025.7.14 charset_normalizer-3.4.2 idna-3.10 kagglehub-0.3.12 requests-2.32.4 tqdm-4.67.1 urllib3-2.5.0

In [22]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("gauravtopre/bank-customer-churn-dataset")

print("Path to dataset files:", path)

c:\Users\Hp\Desktop\Customer Churn\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/gauravtopre/bank-customer-churn-dataset?dataset_version_number=1...

100%|██████████| 187k/187k [00:00<00:00, 256kB/s]

Extracting files...
Path to dataset files: C:\Users\Hp\.cache\kagglehub\datasets\gauravtopre\bank-customer-churn-dataset\versions\1

In [23]:
for paths in os.listdir(r'C:\Users\Hp\.cache\kagglehub\datasets\gauravtopre\bank-customer-churn-dataset\versions\1'):
    print(paths)
    break

Bank Customer Churn Prediction.csv

In [24]:
df=pd.read_csv(r'C:/Users/Hp/.cache/kagglehub/datasets/gauravtopre/bank-customer-churn-dataset/versions/1/Bank Customer Churn Prediction.csv')
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [29]:
import pandas as pd
import yaml

# Load config.yaml
with open('../config/config.yaml', 'r') as f:
    config = yaml.safe_load(f)

print(config)

raw_data_path = config['raw_data_path']

df = pd.read_csv(raw_data_path)

{'raw_data_path': '../data/raw/churn.csv'}

In [31]:
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [32]:
df.shape

(10000, 12)

In [33]:
# check for missing values
df.isnull().sum()

customer_id         0
credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

In [34]:
df.duplicated().sum()

np.int64(0)

In [35]:
# check for column dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   credit_score      10000 non-null  int64
 2   country           10000 non-null  object
 3   gender            10000 non-null  object
 4   age               10000 non-null  int64
 5   tenure            10000 non-null  int64
 6   balance           10000 non-null  float64
 7   products_number   10000 non-null  int64
 8   credit_card       10000 non-null  int64
 9   active_member     10000 non-null  int64
 10  estimated_salary  10000 non-null  float64
 11  churn             10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB